/*
 * Archivo: nrf9151dk_nrf9151.overlay
 */

&uart1 {
    compatible = "nordic,nrf-uarte";
    status = "okay";
    current-speed = <9600>;

    gps: gps_module {
        compatible = "u-blox,neo-m8";
        label = "GPS_NEO_M8";
        status = "okay";
    };
};

/* Habilita el alias para el watchdog */
/ {
    aliases {
        watchdog0 = &wdt0;
    };
};

&wdt0 {
    status = "okay";
};
